<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--connectionStrings>
        <add name="PBingenering.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-TJR9S9L;Initial Catalog=PBingenering;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings-->
  <connectionStrings>
    <add name="PBingenering.Properties.Settings.Setting" providerName="System.Data.SqlClient"
          connectionString="Data Source=VLASOVAAA;Initial Catalog=PBingenering;Integrated Security=True"/>
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>
</configuration>
